<div class="btn-group-vertical btn-group-justified">
	<div class="btn-group" *ngFor="let elem of menuData">
		<div *ngIf="elem['Items']">
			<button type="button"  class="btn btn-primary dropdown-toggle"
      [ngClass]="{'active': elem.isActive }"
      [ngStyle]="elem.isActive?{'background-color': '#6f42c1' ,'border-color':'#6f42c1'} : {}"
       (click)="elem.isActive = !elem.isActive;">
						   {{elem['Label']}}
						  </button>
			  </div>
	<div *ngIf="!elem['Items']">
		<button type="button" class="btn btn-primary">
	   {{elem['Label']}} 
	  </button>
	  </div>
	  <menu class="style" [menuData]="elem['Items']" *ngIf= "elem['Items'] && elem.isActive"></menu> 
	    </div>
    </div>